body { 
	background: #fff;
	font-family: sans-serif;
}

button {
	text-decoration: none;
	padding: 0;
	border: 0;
	background: rgba(0,0,0,0);
	cursor: pointer;
}

a, a:hover, a:visited, a:active, .read-more, button {
	color: rgb(233, 110, 72);
}

p {
	font-size: .8em;
}

.news-feed {
	text-align:center;
	transition: max-height 0.50s ease-in-out;
}

.news-feed-item {
	padding: 15px 0;
	border-bottom: 1px #eee solid;
	animation: .5s animateDiv;
	animation-fill-mode: forwards;
}

.headerTitle, .headerLink {
	font-size: 200%;
	padding: 0;
	margin: 0;
	font-weight: 100;
}

.grey-p {
	color: rgb(172, 172, 172);
	font-size: .75em;
	margin: 0;
	padding: 0;
}

.author-span:before {
	content: "by ";
	color: rgb(172, 172, 172);
	font-weight: normal;
}
.author-span {
	font-weight: bolder;
	color: rgb(100, 100, 100);
	padding-right: 5px;
}

.p-tag {
	color: #fff;
	font-size: .5em;
	background: rgb(180, 180, 180);
	padding: 2px 4px;
	border-radius: 100px;
}

@keyframes animateDiv {
	0% {
		opacity: 0;
		margin-top: 40%;
	}

	55% {
		opacity: 0;
	}

	100% {
		opacity: 100;
		margin-top: 0%;
	}
}

.news-feed-item a {
	text-decoration: none;
	font-size: 1.2rem;
	padding: 0 5px;
}

.desc-animation {
	transition: max-height 0.5s ease-in-out;
}

div[class^="description-collapsed-"],
div[class*=" description-collapsed-"] {
	max-height: 0;
	opacity: 0;
	transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-webkit-transition: all 0s;
    overflow: hidden;
}


div[class^="description-expand-"],
div[class*=" description-expand-"] {
	max-height: 300vh;
	opacity: 100;
	transition: all 1.3s ease-in-out;
	-moz-transition: all 1.3s ease-in-out;
	-webkit-transition: all 1.3s;
}


.news-feed-item a:hover, button:hover {
	border-bottom: 1px solid;
	background: rgb(252, 198, 182);
}

.news-feed-read-button {
	cursor: pointer;
}

.news-feed-read-button {
	cursor: pointer;
}

.news-feed-read-button:hover {
	cursor: pointer;
	text-decoration: underline;
}