* {
	padding: 0;
	margin: 0;
}

body { 
	background: #fff;
	font-family: sans-serif;
}

button {
	text-decoration: none;
	padding: 0;
	border: 0;
	background: rgba(0,0,0,0);
	cursor: pointer;
}

figure {
	font-size: .8em;
	font-weight: 100;
	color: rgb(145, 145, 145);
}

blockquote:before,
blockquote:after {
	color: #ccc;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote:after {
	font-size: 2.5em;
	content: close-quote;
}

blockquote:before {
	font-size: 4em;
	content: open-quote;
}


blockquote {
	font-size: 1.5em;
	margin: 5% 15%;
	color: rgb(145, 145, 145);
	background-image: linear-gradient(90deg, #f9f9f9 80%, #fff 100%);
	border-left: .5em solid rgb(221, 221, 221);
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

figure figcaption {
	text-align: center;
}

a, a:hover, a:visited, a:active, .read-more, button {
	color: rgb(233, 110, 72);
}

p {
	font-size: 1em;
	line-height: 2em;
}

.adjust-ul {
	margin: 10px 0;
}

.adjust-hr {
	border: 0;
	border-top: 1px solid rgb(226, 226, 226);
}

ul>li {
	display:inline;
	padding: 0 2% 0 0
}

ul>li>a {
	cursor: pointer;
}

ul>li>a:hover {
	background: rgb(252, 198, 182);
}

ul>li>.search-span>i {
	color: rgb(172, 172, 172);
	padding: 0 5px;
	vertical-align: middle;
}

ul>li>.search-span>input {
	padding: 2px;
}

.logo {
	font-family: 'Domine',
	serif;
	font-size: 3rem !important;
}

.news-feed {
	transition: max-height 0.50s ease-in-out;
}

.news-feed-item {
	padding: 15px 0;
	border-bottom: 1px #eee solid;
	animation: .5s animateDiv;
	animation-fill-mode: forwards;
}

.section-title {
	text-align: center;
	font-size: 1.5em;
	font-weight: 500;
	letter-spacing: 3px;
	text-transform: uppercase;
	border-bottom: 1px rgb(199, 199, 199) solid;
	padding: 10px;
}

.headerTitle, .headerLink {
	font-size: 1.5em;
	padding: .5em .5em .5em 0;
	margin: 0;
	font-weight: 100;
	line-height: 1.5em;
}

.grey-p {
	color: rgb(172, 172, 172);
	font-size: .75em;
	margin: 0;
	padding: 0;
}

.grey-p>.author-span {
	font-size: 1em;
}

/* .author-span:before {
	content: "by ";
	color: rgb(172, 172, 172);
	font-weight: normal;
} */

.p-tag {
	color: #fff;
	font-size: .5em;
	background: rgb(180, 180, 180);
	padding: 2px 4px;
	border-radius: 100px;
}

.author-span {
	color: rgb(233, 110, 72);
	font-weight: bolder;
	padding: 0;
	margin-right: 5px;
	font-size: .2px;
	cursor: pointer;
}


@keyframes animateDiv {
	0% {
		opacity: 0;
		margin-top: 40%;
	}

	55% {
		opacity: 0;
	}

	100% {
		opacity: 100;
		margin-top: 0%;
	}
}

.news-feed-item a {
	text-decoration: none;
}

.desc-animation {
	transition: max-height 0.5s ease-in-out;
}

.endOfFeed {
	width: 25%;
	padding: 0;
	margin: 10% 35%;
	padding: 2% 2.5%;
	text-align: center;
	font-weight: 900;
	border: 1px solid rgb(223, 223, 223);
}

div[class^="description-collapsed-"],
div[class*=" description-collapsed-"] {
	max-height: 0;
	opacity: 0;
	transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-webkit-transition: all 0s;
    overflow: hidden;
}


div[class^="description-expand-"],
div[class*=" description-expand-"] {
	max-height: 1000vh;
	opacity: 100;
	transition: all 1.3s ease-in-out;
	-moz-transition: all 1.3s ease-in-out;
	-webkit-transition: all 1.3s;
}

.shortDesc p,
div[class^="description-collapsed-"] p,
div[class*=" description-collapsed-"] p, 
div[class^="description-expand-"] p,
div[class*=" description-expand-"] p {
	text-indent: 3em;
}

.news-feed-item a:hover, button:hover {
	border-bottom: 1px solid;
	background: rgb(252, 198, 182);
}

.news-feed-read-button {
	cursor: pointer;
}

.news-feed-read-button {
	cursor: pointer;
}

.news-feed-read-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.side-nav {
	display: none
}


@media only screen and (min-width: 900px) {
	body {
		margin: 0 2.5%
	}

	ul>li>.search-span {
		float: right;
	}

	.wrapper {
		display: grid;
		grid-template-columns: 19% 60% 17%;
	}

	.side-nav {
		display: block;
		margin-left: 3%;
		border-left: 1px solid rgb(226, 226, 226);
	}
	.side-nav {
		text-align: center;
	}

	.side-nav>ul>li {
		display: block;
		padding: 2% 0
	}
	.side-nav>.section-title {
		margin-left: 3%
	}
}

